* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
   width: 100%;
}

.background-container {
   position: relative;
   height: 100%;
   width: 100%;
}

.background-image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;  /* Zorgt ervoor dat de afbeelding altijd de volledige breedte vult */
   height: auto; /* Houdt de proporties van de afbeelding intact */
   max-height: 100vh; /* Zorgt ervoor dat de afbeelding niet groter is dan de hoogte van het scherm */
}

@media (max-width: 768px) {
   .background-image {
       width: 100%; /* Zorgt ervoor dat de afbeelding altijd de volledige breedte vult */
       height: auto; /* Houdt de verhoudingen intact */
   }
}
